* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.header {
  outline: 1px dashed lime;
  height: 4rem;
}

.container {
  outline: 1px dashed rebeccapurple;
  display: flex;
  height: 100%;
}
.content {
  outline: 1px dashed red;
  flex: 1;
}
.aside {
  outline: 1px dashed blue;
  flex-basis: 30%;
}
.footer {
  outline: 1px dashed royalblue;
  background: royalblue;
  margin-top: auto;
}

.menu {
  display: flex;
  height: inherit;
}

.menu-item {
  list-style: none;
  outline: 1px dashed magenta;
  line-height: 4rem;
  flex: 1;
  text-align: center;
  transition: flex 0.5s ease-in-out;
}
.menu-item:hover{
    flex:8;
}
